.main{height:250px;
    border:10px solid rgb(5, 49, 63);
    margin-left:420px;
    margin-right:auto;
    margin-top:50px;
    text-align: center;
}

.price{text-align: center;
background-color:red;
margin-left:150px;
margin-right:150px;}


html{background-color: beige;}

.jf{margin-left: 730px;}

